@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  border-radius: 2px;
  padding: 10px 15px;
  background: var(--input-background);
}

.input-container::after {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  background: linear-gradient(
    to right,
    #b294ff,
    #57e6e6,
    #feffb8,
    #57e6e6,
    #b294ff,
    #57e6e6
  );
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
}

.app-input {
  flex-grow: 1;
  color: var(--input-text);
  background: transparent;
  border: none;
  font-size: 16px;
  vertical-align: middle;
  outline: none;
  width: 100%;
}

label {
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  color: var(--input-label-text);
}

.input-subtext {
  text-align: center;
  margin-top: 10px;
}

.error-message {
  font-size: 14px;
  margin-top: 5px;
  color: var(--error-text);
}

.loader-container {
  position: absolute;
  top: 15px;
  right: 0;
}

.adornment-container {
  position: absolute;
  top: 3px;
  right: 0;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
