.text-container {
  display: flex;
  align-items: flex-end;
}

.todo-container {
  font-size: 1.3em;
  margin-bottom: 15px;
  border-bottom: 2px solid var(--input-border);
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.todo-text-button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2em;
  background: transparent;
  color: var(--todo-item-text);
}

.input-container {
  position: relative;
}

.clear-edit-button {
  position: absolute;
  right: 8px;
  border: none;
  outline: none;
  height: 25px;
  width: 25px;
  background: transparent;
  top: 3px;
}

.edit-todo-input {
  padding: 6px;
  background: #fff;
  border-radius: 5px;
  font-size: 0.7em;
  color: var(--input-text);
  outline: none;
  border: 2px solid var(--input-border);
  width: 100%;
  font-weight: bold;
}

.completed {
  text-decoration: line-through;
}

.complete-button {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  cursor: pointer;
  background: transparent;
}

.delete-button {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: transparent;
}
