.switch-checkbox {
  height: 0;
  width: 0;
  display: none;
}

.switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 42px;
  height: 24px;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.switch-button {
  content: '';
  position: absolute;
  left: 0px;
  width: 23px;
  height: 23px;
  border-radius: 45px;
  transition: 0.2s;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  background: #fff;
}

.switch-checkbox:checked + .switch-label .switch-button {
  left: 100%;
  transform: translateX(-100%);
}

.activated {
  background: var(--switch-activated);
}

.inactive {
  background: var(--switch-inactive);
}
