.settings-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 30px;
  margin-bottom: 20px;
  position: relative;
}

.settings-text {
  font-size: 1.2em;
  color: var(--body-text);
  font-weight: bold;
}

.language-select {
  background: var(--language-selector-background);
  padding: 5px 13px;
  border-radius: 8px;
  color: var(--language-selector-text);
  font-weight: bold;
  border: 2px solid var(--language-selector-border);
  appearance: none;
  width: 120px;
  -webkit-appearance: none;
}

.caret {
  display: block;
  position: absolute;
  cursor: pointer;
  right: 1rem;
  top: 50%;
  margin-top: -1px;
  width: 0;
  height: 0;
  border-top: 5px solid var(--language-selector-arrow);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
