.empty-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.empty-text {
  font-size: 1.2em;
  color: var(--primary);
  font-weight: bold;
}

.alert-icon {
  height: 100px;
  width: 100px;
}
