.input {
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2em;
  color: var(--input-text);
  outline: none;
  border: 2px solid var(--input-border);
  width: 100%;
  background: var(--input-background);
}

.input::placeholder {
  color: var(--input-placeholder);
}
