body[data-theme='light'] {
  --colors-background: #eee;
  --input-background: #fff;
  --input-text: #333;
  --input-border: #a5a5a5;
  --input-placeholder: #333;
  --header-text: #333;
  --todo-item-text: #333;
  --empty-text: #333;
  --toggle-activated: #00d795;
  --toggle-inactive: #c1c1c1;
  --body-text: #333;
  --settings-button-border: #333;
}

body[data-theme='dark'] {
  --colors-background: #333;
  --input-background: rgb(119, 119, 119);
  --input-text: #fff;
  --input-border: #a5a5a5;
  --input-placeholder: #fff;
  --header-text: #fff;
  --todo-item-text: #fff;
  --empty-text: #fff;
  --toggle-activated: #00d795;
  --toggle-inactive: #666666;
  --body-text: #fff;
  --settings-button-border: #fff;
}
