.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 100%;
  padding: 30px;
}

.add-todo-form {
  margin-bottom: 20px;
}

.todos-container {
  margin-top: 20px;
  list-style-position: inside;
}
