.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60px;
  position: fixed;
  bottom: 0;
  background: var(--bottom-nav-background);
  border-top: 2px solid var(--primary);
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: var(--primary);
}

.nav-icon {
  height: 30px;
  width: 30px;
}

.nav-active {
  color: var(--tertiary);
  background: var(--secondary);
}

.nav-text {
  font-weight: bold;
  font-size: 12px;
  margin-top: 3px;
  text-transform: uppercase;
}
