html,
body,
main {
  height: 100%;
  width: 100%;
  background: #f5f5f5;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

pre {
  white-space: pre-line;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  pointer-events: none;
}

.spinner::after {
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  border: 2px solid #fff;
  border-radius: 9999px;
  border-right-color: transparent;
  border-top-color: transparent;
  animation: spinAround 500ms infinite linear;
}
