@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main {
  height: 100%;
  width: 100%;
  background: #f5f5f5;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

pre {
  white-space: pre-line;
}
